.product_page{
    display:flex;
    padding:40px;
    background-color:white;
    gap:40px;
}

.product_left img{
    width:300px;
    object-fit:contain;
}

.product_right{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.product_right h2{
    font-size:22px;
    font-weight:500;
}

.product_price{
    font-size:20px;
    color:#B12704;
    font-weight:bold;
}

.product_desc{
    font-size:14px;
    color:#555;
}

.add_to_cart{
    width:200px;
    padding:10px;
    background-color:#ffd814;
    border:1px solid #fcd200;
    cursor:pointer;
    border-radius:20px;
}